.header-container {
  --background: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

ion-header.collapsible-header {
  --opacity: 1;
  --background: var(--color-background);
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items:center; 
  gap: 1rem;
  flex-wrap: nowrap; 
}

.header-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}

.left-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.back-button ion-icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-header);  
}

.header-title {
  font-size: 1.2rem;
  color: var(--color-header); 
  margin: 0;
  font-weight: 700;
  word-break: break-word;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  flex-shrink: 0;
  white-space: nowrap; 
  max-width: 120px; 
}

.buttons-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-text {
  font-size: 8px;
  text-transform: lowercase;
  word-wrap: break-word; 
}

.action-icon{
  cursor: pointer;
  font-size: 1.25rem;
  color:var(--color-header); 
}

.menu-icon {
  cursor: pointer;
  background-color: rgba(138, 56, 245, 0.1);
      border-radius: 10px;
      padding: 5px 8px 5px 5px;
  mat-icon{
      color: var(--primary-color);
      font-size: 30px;
  }
}
