.side-navigation {
  border-right: 1px solid var(--ion-color-light-shade);
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .side-nav-header {
    text-align: center;
    margin-bottom: 2rem;
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }

    .header-container h1 {
      flex: 1;
      text-align: center;
      margin: 0;
      font-size: 1.8rem;
      color: var(--primary-color);
      font-weight: bold;
    }

    .back-icon {
      display: flex;
      justify-content: flex-end;
      background-color: rgba(138, 56, 245, 0.1);
      border-radius: 10px;
      padding: 7px 0px 7px 10px;
      margin: 2px;
      mat-icon{
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--primary-color);
      }
    }

  }

  .side-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .side-nav-item {
      display: flex;
      align-items: center;
      padding: 0.8rem 1rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 8px;
      color: #000;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      mat-icon {
        font-size: 24px;
        margin-right: 10px;
        color: #000;
      }

      &.active {
        background-color: var(--primary-color);
        color: #fff;

        mat-icon {
          color: #fff;
        }
      }

      &:hover {
        background-color: rgba(138, 56, 245, 0.1);
        color: var(--primary-color);

        mat-icon {
          color: var(--primary-color);
        }
      }
    }
  }
}
