<div class="side-navigation">
  <div class="side-nav-header">
    <div class="header-container">
      <h1>MItra</h1>
      <div class="back-icon" (click)="navHide()">
        <mat-icon>arrow_back_ios</mat-icon>
      </div>
    </div>
    <hr>
  </div>

  <ul class="side-nav-list">
    @for (item of navItems; let i = $index; track i; ) {
      <li
      class="side-nav-item"
      [class.active]="selectedIndex === i"
      (click)="onNavigate(item.route, i)"
    >
      <mat-icon fontSet="material-icons-outlined">{{ item.icon }}</mat-icon>
      <span class="label">{{ item.label | translate }}</span>
    </li>
    }

  </ul>
</div>
