.mobile-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; 
  }
  
  .desktop-layout {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;

    .side-nav {
      flex-shrink: 0;
      transition: all 0.4s ease-in-out;
    }
  
    .content-area {
      flex-grow: 1;
      transition: all 0.4s ease-in-out;
      margin-left: 250px; // Default width of side navigation
      width: calc(100% - 250px);

      &.full-width {
        margin-left: 0;
        width: 100%;
      }
    }
  }